.mainContainer {
  min-height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    117deg,
    rgba(123, 216, 96, 1) 39.2%,
    rgba(255, 255, 255, 1) 156.2%
  );
}

.boardContainer {
  padding-top: 2rem;
  margin: auto;
}
.gridHeader {
  background-color: #4a752c;
  padding: 0.5rem;
  width: 100%;
}
.heading {
  padding-top: 2rem;
  font-family: "Dongle", sans-serif;
  font-size: 3rem;
}
.cell:hover {
  background-color: aqua;
}
.counter {
  font-family: Roboto, Arial, sans-serif;
  color: white;
  width: 20%;
  font-size: 20px;
  padding-left: 3px;
  height: 20px;
  position: relative;
  top: 0.2rem;
  display: inline-block;
  -webkit-user-select: none;
}
